<% provide(:title, "All my activities") %>
<% provide(:navbar_page_title, "all my activities") %>
<nav class="main_color">
  <ul class="ul_in_nav">
    <li><a class="page-link" href="/"><i class="fa arrow fa-bars"></i></a></li>
    <li><a class="page-link" href="#"><h1>ADD NEW GROUP</h1></a></li>
    <li><a class="page-link" href="#"><i class="fa arrow fa-search"></i></a></li>
  </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">

            <div class="card bg-gray " style="width: 100%">
            <%= form_for @group do |f| %>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item mr-3">
                            <%= f.text_field :icon, placeholder: "Icon"  %>
                        </li>
                     <li class="list-group-item mr-3">
                        <%= f.text_field :name, placeholder: "Name of group"  %>
                     </li>
                </ul>
            </div>
            <div class="around_btn">
            <%= f.submit "Add new group", class: "btn-styles" %>
            </div> 
            <%end%>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
