<main class="container_gradient">
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md">
    <section class="user_info">
      <%= image_tag 'user.png', class: 'user_avatar' %>
      <h3>
        <%= @user.name %>
      </h3>
    </section>
  </aside>
</div>
</main>