<main class="container_gradient">
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md">
    <section class="user_info">
      <%= image_tag 'user.png', class: 'user_avatar' %>
      <div class="centered">
          <ul>
           <li> <h1><%= @user.name %></h1></li>
          <li><a href="/activities/new/"><h3><i class="fa icon group fa-users"></i><span class="underline">All my activities</span></h3></a></li>
          <li><a href="/activities/"><h3><i class="fa icon group fa-users"></i><span class="underline">All my external activities</span></h3></a></li>
          <li><a href="/groups/"><h3><i class="fa icon group fa-users"></i><span class="underline">All groups</span></h3></a></li>    
        </ul>       
      </div>
    </section>
  </aside>
</div>
</main>