@import "bootstrap-sprockets"; 
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "font-awesome";

@font-face {
  font-family: "";
  src: url(/app/assets/fonts/FontsFree-Net-Proxima-Nova-Bold.otf) format("truetype");
  src: url(/app/assets/fonts/FontsFree-Net-Proxima-Nova-Light.otf) format("truetype");
}

.proxima_bold{
  font-family: "Proxima Nova Bold";
  color: #434b54;
}
.proxima_bold_dark{
  color: rgb(32, 31, 31);
}
.proxima_light{
  font-family: "Proxima Nova Light";
}

.main_color{
  background-color: #3778c2 !important;
  color: white;
}
.second_color{
  background: #5fb523;
}
.text_color{
  color: #434b54;
}
.text_upper{
  text-transform: uppercase;
}
.text_capital{
  text-transform: capitalize;
}
.text_lower{
  text-transform: lowercase;
}
.container-fluid{
  margin: 0 !important;
  padding: 0 !important;
}
.container_gradient{
    width: 100%;
    padding-top: 60px;
    height: 650px;
    background: linear-gradient(#151557, #3778c2);
}

section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }

  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: white;
  }
  
  h3{
    text-align: center;
    color: white;
  }
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  .user_avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  .ul_in_nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    cursor: pointer;
  }
input, 
textarea, 
select, 
.uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  .btn-styles{
      text-transform: uppercase;
      color: white;
      font-size: 20px;
      background: rgb(11, 211, 28);
      border: 2px solid white;
  }
  .around_btn{
      padding: 10px;
      background: rgb(11, 211, 28);
  }
  input {
    height: auto !important;
  }

  .btn_login,
  .btn_signup{
    display: block;
    margin: auto;
    padding: 10px 75px;
    text-transform: uppercase;
    font-size: large;
  }

.arrow{
    content: "";
    color: white;
    font-size: 25px !important;
    margin-top: 25px;
}

.icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
}

.underline{
  width: 175px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(184, 172, 172);
}
  .name_of_app{
    margin-bottom: 15%;
    font-family: 'Lobster', cursive;
    
  }
  .mt_15{
    margin-top: 15%;
  }

  .mr-3{
    margin: 5px !important;
  }

  .bg-gray{
    background: #cecece;
  }
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  .total{
    display: flex;
    justify-content: space-between;
  }