<% provide(:title, "All my activities") %>
<% provide(:navbar_page_title, "all my activities") %>
<nav class="main_color">
  <ul class="ul_in_nav">
    <li><a class="page-link" href="/"><i class="fa arrow fa-bars"></i></a></li>
    <li><a class="page-link" href="#"><h1>EXTERNAL</h1></a></li>
    <li><a class="page-link" href="#"><i class="fa arrow fa-search"></i></a></li>
  </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <section class="activities">
                <p>Total external ativities: ... hours</p>
            </section>
            <div class="card bg-gray " style="width: 100%">
                <ul class="list-group list-group-flush">
                     <li class="list-group-item mr-3">Cras justo odio</li>
                     <li class="list-group-item mr-3">Dapibus ac facilisis in</li>
                     <li class="list-group-item mr-3">Vestibulum at eros</li>
                </ul>
            </div>
            <div class="around_btn">
            <%= button_to 'back', new_activity_path, method: :get, class: 'btn-styles' %>
            </div> 
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
